[Desktop Entry]
Name=PikaTorrent
GenericName=BitTorrent Client
Exec=pikatorrent %u
Icon=com.pikatorrent.PikaTorrent
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/pikatorrent;x-scheme-handler/magnet;application/x-bittorrent;
Categories=Network;FileTransfer
Keywords=torrent;bittorrent
