name: Build apps
on: [push]
jobs:
  linux:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libcurl4-openssl-dev
      - run: flutter build linux
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-linux
          path: app/build/linux/x64/release/bundle/**/*

  windows:
    runs-on: windows-2022
    env:
      # Workaround for https://gitlab.kitware.com/cmake/cmake/-/issues/25936
      TRANSMISSION_PREFIX: ${{ github.workspace }}/transmission-prefix
      VCPKG_MANIFEST_DIR: ${{ github.workspace }}/app
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter build windows
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-windows
          path: app/build/windows/x64/runner/Release/**/*

  macos:
    runs-on: macos-14
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          brew install ninja
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter build macos
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-macos
          path: app/build/macos/Build/Products/Release/*app

  android:
    runs-on: ubuntu-24.04
    env:
      VCPKG_MANIFEST_DIR: ${{ github.workspace }}/app
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build
      - run: flutter build apk
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-android
          path: app/build/app/outputs/flutter-apk/*.apk

  ios:
    runs-on: macos-14
    env:
      # Do not target simulator
      TARGET_IOS_DEVICE: true
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          brew install ninja
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter build ios --no-codesign
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-ios
          path: app/build/ios/iphoneos/*.app

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs: [linux, windows, macos, android]
    steps:
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          artifacts: "pikatorrent-linux.zip,pikatorrent-windows.zip,pikatorrent-macos.zip,pikatorrent-android.zip"
