name: Build apps
on: [push]
jobs:
  linux:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: app/pubspec.yaml
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libcurl4-openssl-dev
      - run: dart pub global activate flutter_distributor
      - run: flutter build linux
      - run: flutter_distributor package --platform linux --targets appimage
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-linux
          path: app/build/linux/x64/release/bundle/**/*

  linux-arm64:
    runs-on: ubuntu-24.04-arm
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: master
          flutter-version-file: app/pubspec.yaml
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libcurl4-openssl-dev
      - run: dart pub global activate flutter_distributor
      - run: flutter build linux
      - run: flutter_distributor package --platform linux --targets appimage
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-linux-arm64
          path: app/build/linux/arm64/release/bundle/**/*

  windows:
    runs-on: windows-2022
    env:
      # Workaround for https://gitlab.kitware.com/cmake/cmake/-/issues/25936
      TRANSMISSION_PREFIX: ${{ github.workspace }}/transmission-prefix
      VCPKG_MANIFEST_DIR: ${{ github.workspace }}/app
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        # yq is not installed on windows on v2
        uses: subosito/flutter-action@v2.18.0
        with:
          channel: stable
          flutter-version-file: app/pubspec.yaml
      - run: flutter build windows
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-windows
          path: app/build/windows/x64/runner/Release/**/*

  macos:
    runs-on: macos-14
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          brew install ninja
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: app/pubspec.yaml
      - run: flutter build macos
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-macos
          path: app/build/macos/Build/Products/Release/*app

  android:
    runs-on: ubuntu-24.04
    env:
      VCPKG_MANIFEST_DIR: ${{ github.workspace }}/app
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Decode android-keystore.jks
        env:
          ENCODED_STRING: ${{ secrets.ANDROID_KEY_STORE }}
        run: echo $ENCODED_STRING | base64 -di > android/android-keystore.jks

      - name: Decode key.properties
        env:
          ENCODED_STRING: ${{ secrets.ANDROID_KEY_PROPERTIES }}
        run: echo $ENCODED_STRING | base64 -di > android/key.properties

      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: app/pubspec.yaml
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build

      - run: flutter build apk
      - run: flutter build appbundle

      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-android-apk
          path: app/build/app/outputs/flutter-apk/*.apk

      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-android-aab
          path: app/outputs/bundle/release/*.aab

  ios:
    runs-on: macos-14
    env:
      # Do not target simulator
      TARGET_IOS_DEVICE: true
    defaults:
      run:
        working-directory: ./app
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          brew install ninja
      - name: Set up vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/app/vcpkg
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: app/pubspec.yaml
      - run: flutter build ios --no-codesign
      - uses: actions/upload-artifact@v4
        with:
          name: pikatorrent-ios
          path: app/build/ios/iphoneos/*.app

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs: [linux, linux-arm64, windows, macos, android]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Desktop
        run: |
          zip -r PikaTorrent-${{ github.ref_name }}-linux-x64.zip pikatorrent-linux
          zip -r PikaTorrent-${{ github.ref_name }}-linux-arm64.zip pikatorrent-linux-arm64
          zip -r PikaTorrent-${{ github.ref_name }}-macos-universal-experimental.zip pikatorrent-macos
          zip -r PikaTorrent-${{ github.ref_name }}-windows-x64.zip pikatorrent-windows
      - name: Mobile
        run: |
          mv pikatorrent-android-apk/*apk PikaTorrent-${{ github.ref_name }}-android.apk

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: true
          files: PikaTorrent-*
